<center><h1>CHOISI TON FILM IGO</h1>

<%= form_tag('/search') do %>
  <%= label_tag(:movie_title, "Movie title") %>
  <%= text_field_tag :movie_title %>
  <%= submit_tag ("search") %>
<% end %>
</center>
