<center><h1>WELCOME</h1>

<center><h1>CHOOSE YOUR MOVIE</h1>
  <body style="background-color:#F2F2F2;">
<%= form_tag('/search') do %>
  <%= label_tag(:movie_title, "Movie title") %>
  <%= text_field_tag :movie_title %>
  <%= submit_tag ("search") %>
<% end %>
  <img src="https://cdn-images-1.medium.com/max/2000/1*QVCRxfsQwXHIlBlRDxIrLg.png" width="" height="400"/>
</center>



</center>
</body>
</html>
